/* .about{
    margin-top: 5%;
    margin-left: 18%;
        center horizontally
  transform: translateX(50%);

    height: 2000px;
    width: 70%;
    min-width: 300px;  
    max-width: 600px;

  align-items: center;
  justify-content: space-around;
} */
 .file{
    margin-bottom: 20%;
 }
 .about {
  margin: 5% auto 10px;        /* center horizontally */
  width: 70%;
  max-width: 600px;
  /* min-width: 300px; */

  height: auto;           /* avoid fixed height */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.head{
    display: flex;
}

.name>p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.name {
  font-size: 25px;      /* controls text size */
  /* display: flex; */
  align-items: center; /* aligns text & image vertically */
  /* gap: 5px; */
}


.avatar{
    margin-top: 40px;
    height: 250px;
}
.college>p{
    color: rgb(26, 24, 24);
}
.college>p>a{
    color: black;
}
body.dark .college>p{
    color: gray;
}
body.dark .college>p>a{
    color: white;
}