.h2{
    /* margin-top: 40%;s */
    margin: 60px auto 20px;
    max-width: 600px;
    align-items: center;
}

.skill{
    display: flex;
    /* gap: 50px; */
    flex-wrap: wrap;
    cursor: pointer;
    gap: 6px 10px;
    font-family:sans-serif;
    max-width: 600px;
    margin: 20px auto;     /* 🔥 center the section */

}

.skill p{
    border: 1px solid black;
    border-radius: 7px;
    background-color: black;
    color: white;
    font-size: 15px ;

}
.numpy{
    width: 70px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.numpy:hover{
    background-color: rgb(114, 113, 113);
}
.pandas{
    width: 70px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.pandas:hover{
    background-color: rgb(114, 113, 113);
}
.Matplotlib{
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Matplotlib:hover{
    background-color: rgb(114, 113, 113);
}
.Scikit-learn{
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Scikit-learn:hover{
    background-color: rgb(114, 113, 113);
}
.TensorFlow{
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.TensorFlow:hover{
    background-color: rgb(114, 113, 113);
}
.PyTorch{
    width: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.PyTorch:hover{
    background-color: rgb(114, 113, 113);
}
.OpenCV{
    width: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.OpenCV:hover{
    background-color: rgb(114, 113, 113);
}
.Seaborn{
    width: 80px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.Seaborn:hover{
    background-color: rgb(114, 113, 113);
}
.HF{
    display: flex;
    width: 110px;
    height: 40px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.HF:hover{
    background-color: rgb(114, 113, 113);
}

body.dark .numpy{
    background-color: white;
    color: black;
}
body.dark .pandas{
    background-color: white;
    color: black;
}
body.dark .Matplotlib{
    background-color: white;
    color: black;
}
body.dark .Scikit-learn{
    background-color: white;
    color: black;
}
body.dark .TensorFlow{
    background-color: white;
    color: black;
}
body.dark .PyTorch{
    background-color: white;
    color: black;
}
body.dark .OpenCV{
    background-color: white;
    color: black;
}
body.dark .Seaborn{
    background-color: white;
    color: black;
}
body.dark .HF{
    background-color: white;
    color: black;
}